<p style="color: green"><%= notice %></p>

<%= render 'shared/nav', name: '', path: group_entities_path %>
<%= render @entity %>

<!--div>
  <%= link_to "Edit this entity", edit_group_entity_path(@entity) %> |
  <%= link_to "Back to entities", group_entities_path %>

  <%= button_to "Destroy this entity", group_entity_path(@entity), method: :delete %>
</div-->
